<div class="container">
  <div class="header">
      <img src="assets/Imgs/Logo AR.jpeg" alt="Logo" class="logo">
      <h1>{{ title }}</h1>
      <img src="assets/Imgs/Logo AR.jpeg" alt="Logo" class="logo">
  </div>
  <div class="form-container">
      <h2>Añade un proveedor</h2>

      <form (submit)="onSubmit()">
          <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" [(ngModel)]="proveedor.nombres" name="nombre" required>
          </div>

          <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" id="direccion" [(ngModel)]="proveedor.direccion" name="direccion">
          </div>

          <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" id="telefono" [(ngModel)]="proveedor.telefono" name="telefono">
          </div>

          <div class="form-group">
              <label for="email">Correo electrónico</label>
              <input type="email" id="email" [(ngModel)]="proveedor.email" name="email">
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
  </div>

  <h2>Lista de Proveedores</h2>
  <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let prov of proveedores">
              <td>{{ prov.id_proveedor }}</td>
              <td>{{ prov.nombres }}</td>
              <td>{{ prov.direccion }}</td>
              <td>{{ prov.telefono }}</td>
              <td>{{ prov.email }}</td>
              <td>
                  <button (click)="editProveedor(prov.id_proveedor)">Editar</button>
                  <button (click)="deleteProveedor(prov.id_proveedor)">Eliminar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
