<div class="container">
    <div class="header">
      <img src="assets/Imgs/Logo AR.jpeg" alt="Logo" class="logo">
      <h1>{{ title }}</h1>
      <img src="assets/Imgs/Logo AR.jpeg" alt="Logo" class="logo">
    </div>
  
    <div class="options">
      <button (click)="goTo('/add-empleados')">Añadir empleados</button>
      <button (click)="goTo('/add-prendas')">Añadir prendas</button>
      <button (click)="goTo('/add-proveedores')">Añadir proveedores</button>
      <button (click)="goTo('/realizar-pedidos')">Realizar pedidos</button>
    </div>
  </div>
  